
// text color
$main-text:#212529;
$second-text:#2B38D1;
$third-text:#008A00;
$gray-text:#515d666b;
$red-color:#DC323C;
// Background color
$bg-red:#DC323C;
$bg-main:#F1F5F6;
$bg-blue:#2B38D1;
$border-color:rgba(229, 232, 236, 1)

