
// text color
$main-text:#212529d8;
$second-text:#2B38D1;
$third-text:#008A00;
$gray-text:#515d66;
$red-color:#e20c1a;
// Background color
$bg-red:#dc323de0;
$bg-main:#F1F5F6;
$bg-blue:#2B38D1;
$border-color:rgba(229, 232, 236, 1)

